@mixin search {
	
  margin:0 auto;
  width: 75%;

  @include clearfix;

  #search {
    width: 90%;
    margin: .5em 5%;
		padding: .4em .8em;
		font-size:1.3em;
    border: solid 3px #88b;
    @include border-radius(1.3em+2*(.4em));
  }
	
	#search:focus{
		outline:none;
		background:#eef;
	}

  label {
    display: none;
    width: 12.5%;
  }

  .button {
    display: block;
    margin: 0 auto;
    width: 10em;
    font-size: 1.2em;
    /*font-weight: bold;*/
  }
}