// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/typography";
@import "blueprint/utilities";
@import "blueprint/debug";
@import "blueprint/interaction";
@import "blueprint/form";
@import "blueprint/liquid";
@import "compass/css3";

// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  //@include blueprint-scaffolding; 
}

@import "partials/recipes";
@import "partials/workbench";
@import "partials/search";
@import "partials/recipe_form";
@import "partials/recipe_detail";

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
	background-color:#999;
	  @include blueprint-typography(true);
  #container {
		background-color:#999;
    @include container;
		width:100%;
 }
	.flash {
		text-align:center;
		margin:1em;
		padding:.5em;
		font-weight:bold;
	}
	.tags {
		background-color:#ddf;
		display:inline-block;
	}
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar, #workbench {
		/*border-left:2px solid black; */
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-liquid-grid-columns / 3);
    @include column($sidebar-columns, true); 
	}
	
	#workbench {
		background-color:#FFF;
		
		
 		@include workbench;
	}
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-liquid-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns); 
		.inner-div{
			background-color:#FFF;
			padding:2em;
			margin:0 1em;
			@include single-box-shadow();
		}
		
		#recipes {
			@include recipes;
		}
		.new_recipe, .edit_recipe {
			@include recipe-form;
		}
		
		.recipe-detail {
			@include recipe-detail;
		}
    
    .search {
      @include search;
    }
	}


}