%h3 Formatting
.formatting
  :plain
    <strong>Bold</strong>: *bold* <br />
    <em>Italic</em>: _italic_ <br />
    List: <br />
    * Item 1<br />
    * Item 2<br />
    <br />
    Numbered List:<br />
    1. Item 1<br />
    2. Item 2<br />