.search
  = form_tag recipes_path(), method: :get, class: "form-search" do
    = text_field_tag :search, params["search"], placeholder: "Search Recipes", class: "search-query"
    = submit_tag "Search", :class => "btn"
