<!DOCTYPE html>
<html>
<head>
  <title>Ftweb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- login link -->
<!-- register link -->
<!-- logout link -->

<h1>FoodThink web</h1>
<ul>
	<li>Recipes</li>
	<li>Pantry</li>
	<li>RecipeBook</li>
</ul>
<%= yield %>

</body>
</html>
